body
{
    background-color: black;
}
.base
{
    margin: auto;
    text-align: center;
    font-size: 500%;
    color:red;
    margin-top: 10%;
}
.fa-regular
{
    padding: 25px;
}

.fa-regular:hover , .fa-solid
{
    cursor: pointer;
}
.fa-solid
{
    color:red;
    margin-bottom:20px ;
}


