.clock
{
    height : fit-content;
    width :fit-content;
    /*align-content: center;*/
   /* border: 5px solid black;*/
    font-size:4cm;
    margin: 5cm 8cm auto;
}

.time
{
    display: inline-block;
    background-color: blue;
}